@model MoviesApp.Models.Movies
<div class="all-comments">
						<div class="all-comments-info">
							<a href="#">Movie</a>
							<div class="agile-info-wthree-box">
                                <form asp-action="Create">
                                    <label asp-for="Title">Title:</label> <br />
                                    <input asp-for="Title" type="text" value="@ViewBag.movie.title"> <br />
                                    <label asp-for="Released" align="left">Release:</label> <br />
                                    <input asp-for="Released" type="text" value="@ViewBag.movie.release_date"> <br />
                                    <label asp-for="Overview" align="left">Overview:</label> <br />
                                    <input asp-for="Overview" type="text" value="@ViewBag.movie.overview"> <br />
                                    <label asp-for="popularity" align="left">Popularity:</label> <br />
                                    <input asp-for="popularity" type="text" value="@ViewBag.movie.popularity"> <br />
                                    <label asp-for="videos" align="left">Video:</label> <br />

                                    <input asp-for="videos" type="text" value="@ViewBag.videolink"> <br /> <br />

                                    <label asp-for="imdbRating" align="left">Vote Average:</label> <br />
                                    <input asp-for="imdbRating" type="text" value="@ViewBag.movie.vote_count"> <br />
                                    <label asp-for="imdbVotes" align="left">Vote Count:</label> <br />
                                    <input asp-for="imdbVotes" type="text" value="@ViewBag.movie.vote_count"> <br />
                                    <label asp-for="Poster" align="left">Poster:</label> <br />
                                    <input asp-for="Poster" type="text" value="@ViewBag.poster"> <br />
                                    @*<label asp-for="genres" align="left">Genre:</label> <br />
        <input asp-for="genres" type="text" value="@ViewBag.moviegenre"> <br />*@
                                    <label asp-for="idMovie" align="left">ID:</label> <br />
                                    <input asp-for="idMovie" type="text" value="@ViewBag.movie.id"> <br />
                                    <label asp-for="backdrop_path" align="left">Backdrop Path:</label> <br />
                                    <input asp-for="backdrop_path" type="text" value="@ViewBag.backdrop_path"> <br />
                                    <label asp-for="adult" align="left">Adult:</label> <br />
                                    <input asp-for="adult" type="text" value="@ViewBag.movie.adult"> <br />
                                    <label asp-for="original_language" align="left">Original Language:</label> <br />
                                    <input asp-for="original_language" type="text" value="@ViewBag.movie.original_language"> <br />
                                    <label asp-for="original_title" align="left">Original Title:</label> <br />
                                    <input asp-for="original_title" type="text" value="@ViewBag.movie.original_title"> <br />


                                    <input type="submit" value="Save">

                                    <a asp-action="Index" class="btn btn-inverse">Back to List</a>
                                    <div class="clearfix"> </div>
                                </form>
							</div>
						</div>
				
					</div>