
<br />
<br />


        <div class="agile_tv_series_grid">
            <div class="col-md-6 agile_tv_series_grid_left">
                <div class="w3ls_market_video_grid1">
                    <img src="@ViewBag.poster" alt=" " class="img-responsive">
                    <a class="w3_play_icon" href="#small-dialog">
                        <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
            <div class="col-md-6 agile_tv_series_grid_right">
                <p class="fexi_header">@ViewBag.movie.original_title</p>
                <p class="fexi_header_para fexi_header_para1">
                    <span>Date Of Release<label>:</label></span>
                    @ViewBag.movie.release_date
                </p>
                <p class="fexi_header_para fexi_header_para1">
                    <span>Title<label>:</label></span>
                    @ViewBag.movie.title
                </p>


                <p class="fexi_header_para fexi_header_para1">
                    <span>Overview<label>:</label></span>
                    @ViewBag.movie.overview
                </p>

                <p class="fexi_header_para fexi_header_para1">
                    <span> Language<label>:</label></span>
                    @ViewBag.movie.original_language
                </p>
                <p class="fexi_header_para fexi_header_para1">
                    <span>Popularity<label>:</label></span>
                    @ViewBag.movie.popularity
                </p>
                <p class="fexi_header_para fexi_header_para1">
                    <span>Vote average<label>:</label></span>
                    @ViewBag.movie.vote_average
                </p>
                <p class="fexi_header_para fexi_header_para1">
                    <span>Vote Count<label>:</label></span>
                    @ViewBag.movie.vote_count
                </p>
            </div>

            <div class="clearfix"> </div>
            <div class="agileinfo_flexislider_grids">

                <div class="clearfix"> </div>
            </div>
        </div>
   